[submodule "Libraries"]
	path = Libraries
	url = https://github.com/TWoolhouse/Libraries
[submodule "WebServer"]
	path = Project/WebServer
	url = https://github.com/TWoolhouse/WebServer
[submodule "NEA"]
	path = Project/NEA
	url = https://github.com/TWoolhouse/NEA
